*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}
.footer{
    position: fixed;
    right:100px;
    bottom: 0;
    width: 100%
    border: 0;
    border-top: 1px solid black;
    color: rgb(85, 84, 87)
    
}
.header{
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
}
.main{
    margin: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;  
}
.MFG{
    align-items: center;
   margin-left: 100px;
   margin-top: 40px;
}
p{
    background: transparent;
    font-size: 90px;  
    color: rgb(85, 84, 87);
}
h1{
    margin-bottom: 15px;
    font-size: x-large;
    color: rgb(85, 84, 87);  
}
.container{
    width: 400px;
    height: 600px;
     margin-left: 300px;
     margin-top: 20px;
     background: rgb(206, 218, 206);;
     border-radius: 15px;
     position: relative;
     overflow: hidden;
 }
 h3{
     text-align: center;
     margin-bottom: 60px;
     color: rgb(85, 84, 87)
 }
 .container form{
     position: absolute;
     width: 300px;
     top: 120px;
     left: 40px;
     /* how smooth transition is */
     transition: 0.5s; 
 }
 form input{
     width: 300;
     padding: 10px 5px;
     margin: 5px 0;
     border: 0;
     border-bottom: 1px solid blue;
     background: transparent;
     outline: none;
 }
 ::placeholder{
     color: rgb(36, 123, 200);
 }
 .btn-box{
     width: 100%;
     text-align: center;
 }
 form button{
     width: 120px;
     height: 45px;
     background: linear-gradient(to left, rgb(63, 63, 210),rgb(160, 165, 229));
     border: 0;
     border-radius: 30px;
     margin-top: 80px;
     margin-right: 15px;
     cursor: pointer;
     color: rgb(2, 42, 77);
 }
 #Form2{
     left: 450px;
 }
 #Form3{
     left: 450px;
 }
 #Form4{
     left: 450px;
 }
 .step-row{
     width:450px;
     height: 50px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     box-shadow: 0 -1px 5px rgb(2, 42, 77);
     position: relative;
 }
 .step-col{
 width: 100px;
 text-align: center;
 color:rgb(2, 42, 77);
 position: relative;
 }
 #progress{
    position: absolute;
    height: 100%;
    width: 100px;
    background: linear-gradient(to left, rgb(63, 63, 210),rgb(160, 165, 229));
    transition: 1s;
 }
 #progress::after{
     content: '';
     height: 0;
     width: 0;
     border-top: 25px solid transparent;
     border-bottom: 25px solid transparent;
     position: absolute;
     right: -20px;
     top: 0;
     border-left: 20px solid rgb(63, 63, 210);
 }
 .garden{
     display: flex;
     flex-direction: column;
     align-items: start;
     color: rgb(85, 84, 87)
     
 }